<template id="plot-card-tmpl">
    <div class="plot-card">
        <div class="plot-panel">
            <span class="card-header"></span>
            <div class="close-button"><img src="static/img/close.png"></div>
            <div class="sync-button">
                <img class="no-sync" src="static/img/no-sync.png">
                <img class="sync" src="static/img/sync.png">
            </div>
        </div>
        <canvas class="plot" max-width="100" max-height="100"></canvas>
        </div>
</template>