<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      {% if title %}
      <title>{{ title }} - PlotServer</title>
      {% else %}
      <title>PlotServer</title>
      {% endif %}
    </head>
    <body>
        <div class="flex-column">
        <div class="head-bar">
            <div class="flex-block">
            <div>
                <img src="static/img/logo.svg" style="height: 7em;">
            </div>
            <div class="logo-name">
                <h2><b>Plot<br>Server</b></h2>
            </div>
            </div>
            <div class="expander">
            </div>
            <div class="flex-block">
            <a href="{{ url_for('about') }}" class="shadow-button">About</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}" class="shadow-button">Login</a>
                <a href="{{ url_for('register') }}" class="shadow-button">Register</a>
            {% else %}
                <a href="{{ url_for('home') }}" class="shadow-button">Home</a>
                <a href="{{ url_for('logout') }}" class="shadow-button">Logout</a>
            {% endif %}
            </div>
        </div>
        <div class="wide-ruler"><hr></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        <div class="wide-ruler"><hr></div>
        {% endif %}
        {% endwith %}
        <div>
        {% block content %}{% endblock %}
        </div>
        <div class="expander"></div>
        <div class="wide-ruler"><hr></div>
        <div class="footer">
        Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"	    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </body>
</html>