<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      {% if title %}
      <title>{{ title }} - PlotServer</title>
      {% else %}
      <title>PlotServer</title>
      {% endif %}
    </head>
    <body>
        <div class="w3-blue-gray w3-bar">
            <h3 class="w3-header"><b>PlotServer</b></h3>
            <a href="{{ url_for('index') }}" class="w3-bar-item">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}" class="w3-bar-item">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}" class="w3-bar-item">Logout</a>
            <div class="w3-bar-item">Hello, {{ current_user.username }}! Your API key is below:</div>
            {% endif %}
        </div>
        {% if not current_user.is_anonymous %}<div class="w3-border w3-round-large w3-center">{{ key }}</div>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>