<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      {% if title %}
      <title>{{ title }} - PlotServer</title>
      {% else %}
      <title>PlotServer</title>
      {% endif %}
    </head>
    <body>
        <div class="flex-container" style="display: flex; align-items: center; flex-wrap: wrap;">
            <div style="">
                <img src="static/img/logo.svg" style="height: 100%; width: 100%;">
            </div>
            <div>
                <h2><b>Plot<br>Server</b></h2>
            </div>
            <div style="flex-grow: 2; flex-shrink: 2;">
            </div>
            {% if current_user.is_anonymous %}
            <div>
                <a href="{{ url_for('login') }}" class="">Login</a>
            </div>
            {% else %}
            <div style="text-align: center;">
                <a href="{{ url_for('home') }}" class="">Home</a>
            </div>
            <div>
                <a href="{{ url_for('logout') }}" class="">Logout</a>
            </div>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>