{% extends "base.html" %}

{% block content %}
    <script src="static/js/Chart.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/home_defs.js"></script>

    {% include '_plot-card.html' %}
    <div class="w3-container">Hello, {{ current_user.username }}! Your API key is below:</div> 
    <div id="keyButton">Show Key</div>
    {% if not current_user.is_anonymous %}<div id="key" class="key-container hidekey">{{ key }}</div>
        {% endif %}
    <div class="w3-cell-row">
        <div class="project-selector">
            <header class="w3-container"><h6><b>PROJECTS</b></h6></header>
            {% for project_name in project_names %}
            <button class="proj-expand">{{ project_name }}</button>
            <div class="w3-container w3-hide">
            </div>
            {% endfor %}
        </div>
        
        <div id="plot-display"></div>
    </div>
    <script>
    const els = document.querySelectorAll(".proj-expand");
    for (const el of els){
        el.addEventListener('click', show_hide);
    }
    const key = document.querySelector("#key");
    const keyButton = document.querySelector("#keyButton");
    keyButton.addEventListener('click', () => {
        key.classList.toggle("hidekey");
        var text = keyButton.firstChild;
        text.data = text.data == "Show Key" ? "Hide Key" : "Show Key";
    });
    </script>
{% endblock %}