{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index_defs.js') }}"></script>

    {% include '_plot-card.html' %}
    <div class="w3-cell-row">
        <div class="project-selector">
            <header class="w3-container"><h6><b>PROJECTS</b></h6></header>
            {% for project in projects %}
            <button class="proj-expand">{{ project["name"] }}</button>
            <div class="w3-container w3-hide">
            </div>
            {% endfor %}
        </div>
        
        <div id="plot-display"></div>
    </div>
    <script>
    const els = document.querySelectorAll(".proj-expand");
    for (const el of els){
        el.addEventListener('click', show_hide);
    }
    </script>
{% endblock %}