{% extends "base.html" %}

{% block content %}
<div class="card-holder">
<div class="about-card">
<h3 class="subheader">PlotServer: track data online</h3>
This application allows you to keep an eye on any process without the need to access the remote computer. Just send your data using the <i>PlotServer API</i> and visualize it anywhere. 
</div>
<div class="about-card">
<h3 class="subheader">PlotServer: track data online</h3>
This application allows you to keep an eye on any process without the need to access the remote computer. Just send your data using the <i>PlotServer API</i> and visualize it anywhere. 
</div>
{% endblock %}