@import "_w3";

body {
  font-size: 1.1em !important;
  font-family: Arial;
}

.project-selector {
  @extend .w3-cell;
  @extend .w3-card;
  @extend .w3-quarter;
}

.card-holder{
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-card {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  
  display: flex; 
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  margin: 0.3em;
  padding: 0.2em;
  max-width: 40em;
  min-height: 20vh;
}

.flex-block {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.logo-name {
  text-shadow: 1px 1px;
}
.head-bar {
  @extend .flex-block;
  flex-wrap: wrap;
  background: linear-gradient(#e6e6ff, #ffffff);
  width: 100%;
}

.key-container {
  text-align: center;
}

.expander {
  flex-grow: 2; 
  flex-shrink: 2;
}

.subheader {
  color:  #293d3d;
}

.shadow-button {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background: #ff944d;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 0.5em;
  text-align: center;
  text-decoration: none;
}

.shadow-button:hover {
  background: #ffb380;
}

.proj-expand {
  @extend .w3-light-grey;
  @extend .w3-block;
  @extend .w3-button;

  padding:4px 16px 4px 6px;
  text-align:left;
}

.hidekey {
  display: none;
}

#keyButton {
  @extend .w3-card;
  background-color: #e0ebeb;
  text-align: center;
  cursor:pointer;
}

#keyButton:hover {
  background-color: lightgray;
}

.subdir {
  @extend .w3-button;
  @extend .w3-block;
  @extend .w3-hover-sand;
  @extend .w3-round-large;

  padding:4px 16px 4px 6px;
  text-align:left;
}

.subdir.opened {
  @extend .w3-pale-green;
}

#plot-display {
  @extend .w3-container;
  @extend .w3-cell;
  @extend .w3-threequarter;
}

.close-button {
  @extend .w3-bar-item;
  @extend .w3-button; 
  @extend .w3-right;

}

.sync-button {
  @extend .w3-bar-item;
  @extend .w3-button; 
  @extend .w3-right;

  position: relative;
  min-height: 40px;
  min-width: 56px;
}

.sync-button img {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s ease-in-out;
}

.sync-button img.transparent {
  opacity: 0;
}

.img-container {
  padding: 0.5em;
  flex-grow: 2;
  display: flex;
}

.plot-card {
  @extend .w3-margin;
  @extend .w3-card;
}

.plot-panel {
  @extend .w3-light-grey;
  @extend .w3-bar;
}

.card-header {
  @extend .w3-bar-item;
  @extend .w3-opacity;
}

.code-preview {
  background-color: #e0ebeb;
  border-radius: 0.5em;
  margin: 0.4em;
  padding: 0.2em;
  font-size: 0.9em;
}

.form-container {
  @extend .w3-container;
  @extend .w3-card-4;
}

.footer {
  text-align: center;
  padding: 1em;
}

.flex-column {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.key-block {
  padding-bottom: 1em;
  text-align: center;
  width: 100vw;
}

.wide-ruler {
  width: 100%;
}

.flex-row {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
}