@import "_w3";

.project-selector {
  @extend .w3-cell;
  @extend .w3-card;
  @extend .w3-quarter;
}

.proj-expand {
  @extend .w3-light-grey;
  @extend .w3-block;
  @extend .w3-button;

  padding:4px 16px 4px 6px;
  text-align:left;
}

.hidekey {
  display: none;
}

#keyButton {
  @extend .w3-card;
  background-color: honeydew;
  text-align: center;
  cursor:pointer;
}

#keyButton:hover {
  background-color: lightgray;
}

.subdir {
  @extend .w3-button;
  @extend .w3-block;
  @extend .w3-hover-sand;
  @extend .w3-round-large;

  padding:4px 16px 4px 6px;
  text-align:left;
}

.subdir.opened {
  @extend .w3-pale-green;
}

#plot-display {
  @extend .w3-container;
  @extend .w3-cell;
  @extend .w3-threequarter;
}

.close-button {
  @extend .w3-bar-item;
  @extend .w3-button; 
  @extend .w3-right;

}

.sync-button {
  @extend .w3-bar-item;
  @extend .w3-button; 
  @extend .w3-right;

  position: relative;
  min-height: 40px;
  min-width: 56px;
}

.sync-button img {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 24px;
  height: 24px;
  transition: opacity 0.5s ease-in-out;
}

.sync-button img.transparent {
  opacity: 0;
}

.plot-card {
  @extend .w3-margin;
  @extend .w3-card;
}

.plot-panel {
  @extend .w3-light-grey;
  @extend .w3-bar;
}

.card-header {
  @extend .w3-bar-item;
  @extend .w3-opacity;
}
